<div class="container reg-style">
	<div class="reg-main">
		<form class="form-horizontal" name="regForm" ng-submit="register()" novalidate="novalidate">
		    <div class="form-group">
		        <label class="col-sm-2 col-xs-offset-2 control-label">用户名</label>
		        <div class="col-sm-4">
		            <input type="text" name="username" class="form-control" ng-minlength="2" ng-maxlength="15" ng-model="user.username" required>
		        </div>
		        <div class="col-sm-4">
		            <span class="imsg msg-error">
		                <span ng-show="regForm.username.$invalid && regForm.username.$dirty">用户名在2-15个字符内</span>
		            </span>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-sm-2 col-xs-offset-2 control-label">密码</label>
		        <div class="col-sm-4">
		            <input type="password" name="password" class="form-control" ng-minlength="6" ng-maxlength="20" ng-model="user.password" required>
		        </div>
		        <div class="col-sm-4">
		            <span class="imsg msg-error">
		                <span ng-show="regForm.password.$invalid && regForm.password.$dirty">密码在6-20个字符内</span>
		            </span>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-sm-2 col-xs-offset-2 control-label">确认密码</label>
		        <div class="col-sm-4">
		            <input type="password" name="repeatPassword" class="form-control" ng-model="user.repeatPassword" compare-to="user.password" required>
		        </div>
		        <div class="col-sm-4">
		            <span class="imsg msg-error">
		                <span ng-show="regForm.repeatPassword.$dirty && user.repeatPassword!=user.password">两次输入的密码不一致</span>
		            </span>
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-sm-offset-4 col-sm-4">
		          <button tyape="submit" class="button button--antiman login-submit pull-right">注册</button>
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-sm-offset-4 col-sm-4">
		            <div class="alert text-center" ng-if="resp.msg" ng-class="{'alert-danger':resp.status!=1,'alert-success':resp.status==1}">{{resp.msg}}</div>
		        </div>                   
		    </div> 
		</form>
	</div>
</div>